body {
    background: chartreuse;
}

aside {
    float:left;
    background: blueviolet;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: gold;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 120px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -5px
}

aside h3 {
    margin-top: 50px;
    font-size: 28px;
}

aside ul {list-style: none}
aside ul li {
    color: orange;
    display: block;
    margin-top: 20px;
     transition: transform .6s ease; /*плавность при увеличении с эффектом ease, когда наводишь на ссылку*/
}

aside ul li:hover, ul a:hover { /*эффект при наведении*/
    color: aqua;
    text-decoration: none; /*без подчеркивания*/
    transform: scale(1.2); /*увеличение при наведении*/
}

main .features {
    float: left;
    color: blue;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .features h1 {font-size: 50px}
main .features p {max-width: 400px; margin: 20px auto }

.alert-warning {
    float: left;
    clear: both;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}