{% extends 'main/layout.html' %}

{% block title %} {{title}}{% endblock %}

{% block content %}
<div class="features">
    <h1>{{title}}</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt iure molestias nobis porro rerum, ut! Assumenda at earum in rem!</p>
    <button class="btn btn-warning">На страницу про нас</button>
<br>
    {% for a in values %}
        {% if a == 'Some' %}
            {% filter upper %}
                <p>{{ a }}</p>
            {% endfilter %}}
        {% endif %}
    {% endfor %}
<br>
    {%  for e in  obj %}
        <p>{{ e|upper }}</p>
    {% endfor %}


    <!--{{obj.age}}-->
</div>


{% endblock %}